.jobDoneTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.jobApprovedTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.jobDisapprovedTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.jobInterestedTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.jobOngoingTableHeadingBlack
{
    background: #555 !important;
    color: #fff !important;
}
.freelancerJobDoneTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.picture{
    margin-left: 90px;
}
.md-margin-top-20{
    margin-top: 2%;
}
.md-margin-top-100{
    margin: 10% auto ;
}
.md-padding-top-100{
    padding-top: 10% ;
}
.freelancerMilestoneDoneButton{
    margin-top: -2%;
}
div.DTTT_container {
    display: none;
}

#payWithPaypalButton{
    margin-bottom: 5%;

}
.passwordHint{
    border-radius: 5px;
    display: block;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    background: #72C02C;
    left: 103%;
    top: -15px;
    width: 400px;
    padding: 7px 10px;
    color: #fff;
}
.passwordHint:after{
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #72C02C;
    border-width: 8px;
    margin-top: -8px;
}
.passwordConfirmHint{
    border-radius: 5px;
    display: block;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    background: #72C02C;
    left: 103%;
    top: 0px;
    width: 400px;
    padding: 7px 10px;
    color: #fff;
}
.passwordConfirmHint:after{
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #72C02C;
    border-width: 8px;
    margin-top: -8px;
}