.jobDoneTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.jobApprovedTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.jobDisapprovedTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.jobInterestedTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.jobOngoingTableHeadingBlack
{
    background: #555 !important;
    color: #fff !important;
}
.freelancerJobDoneTableHeadingBlack{
    background: #555 !important;
    color: #fff !important;
}
.picture{
    margin-left: 90px;
}
.md-margin-top-20{
    margin-top: 2%;
}
.md-margin-top-100{
    margin: 10% auto ;
}
.md-padding-top-100{
    padding-top: 10% ;
}
.freelancerMilestoneDoneButton{
    margin-top: -2%;
}
div.DTTT_container{
    display:none;
}